
p {
	font-family: 'Verdana';
	font-size: 15px;
	padding-left: 6px;
}
p.blue {
	color: SlateBlue;
}

p.thick {
  font-weight: bold;
  font-size: 18px;
}

p.red {
	color:Tomato;
}

p.center {
    text-align: center;
}

mat-toolbar div.center {
    text-align: center;
}

div.btn-container {
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    margin: 10px;
    
}

.large-font-red {
    font-size: 15px;
    font-weight: bold;
    color:Tomato;
}



div.down {
    padding-top: 10px;
}

span.red {
	color:Tomato;
}

span.blue {
	color: SlateBlue
}

div.border {
	border-style: ridge;
	padding: 5px;
	
}

div.grey {
    color: rgb(100, 99, 99);
}


h1 {
	font-size: 40px;
}


div {
	width: 100%;
}

mat-card {
	max-width: 1000%;
}


.form-container {
	display: flex;
	flex-direction: column;
}

.form-container > * {
  width: 100%;
}


.list-inline {
    list-style:none;
    padding: 0;
    max-width:1200px;
    margin:0 auto;
}
.list-inline li {
    display:inline-block;
    padding: 2%;
  margin: 1%;
  font-weight: bold;
  text-align: center;
    
}



@media screen and (max-width: 500px) {
    .mat-table {
      border: 0;
      vertical-align: middle;
      max-height: 100px;
    }
  
    .mat-table caption {
      font-size: 1em;
    }
    
    /* hides the header */
    .mat-table .mat-header-cell {
      
      border: 10px solid;
      clip: rect(0 0 0 0);
      height: 1px;
      margin: -1px;
      padding: 0;
      position: absolute;
      width: 1px;
    }
   
    .mat-table .mat-row {
      border-bottom: 8px solid rgb(155, 154, 154);
      display: block;
      max-height: 370px;
    }
    /*
    .mat-table .mat-row:nth-child(even) {background: #CCC}
    .mat-table .mat-row:nth-child(odd) {background: #FFF}
    */
    .mat-table .mat-cell {
      border-bottom: 1px solid #ddd;
      display: block;
      font-size: 1em;
      text-align: right;
      font-weight: bold;
      height:30px;
      margin-bottom: 4%;
      padding-right: 24px;
    }
    .mat-table .mat-cell:before {
      /*
      * aria-label has no advantage, it won't be read inside a table
      content: attr(aria-label);
      */
      content: attr(data-label);
      float: left;
      text-transform: uppercase;
      font-weight: normal;
      font-weight: bold;
      padding-left: 24px;
      color:Tomato; 
      font-size: .85em;
    }
    .mat-table .mat-cell:last-child {
      border-bottom: 100px;
    }
      .mat-table .mat-cell:first-child {
      margin-top: 4%;
    }

    mat-cell:first-child,
mat-footer-cell:first-child,
mat-header-cell:first-child {
    padding-left: 0px !important;
}

/* mat-cell:last-child,
mat-footer-cell:last-child,
mat-header-cell:last-child {
    padding-right: 24px !important;
} */

  }