<div id="material-app">

    <form [formGroup]="adminForm">
    <mat-toolbar color="primary">
        <div class="center">
            <mat-icon>admin_panel_settings</mat-icon>      
            <span>Admin: Covid-19 Forms</span>
        </div>
    </mat-toolbar>

    <p class="red center"><strong>Filters</strong></p>
    <mat-divider></mat-divider>

    <ul class="list-inline">
        <li>
            
            <mat-checkbox color="primary" formControlName="flagged" (change)="onCheckboxChange($event)" [checked]="adminForm.get('flagged').value"><strong><div class="grey">Flagged Forms</div></strong></mat-checkbox>
        
        </li>
        <li>
            <mat-form-field [formGroup]="adminForm" appearance="outline">
                <mat-label><strong>Age Group</strong></mat-label>
                <mat-select formControlName="age">
                    <mat-option value="any">Any</mat-option>
                    <mat-option value="U8">U-8</mat-option>
                    <mat-option value="U9">U-9</mat-option>
                    <mat-option value="U10">U-10</mat-option>
                    <mat-option value="U11">U-11</mat-option>
                    <mat-option value="U12">U-12</mat-option>
                    <mat-option value="U13">U-13</mat-option>
                    <mat-option value="U14">U-14</mat-option>
                    <mat-option value="U15">U-15</mat-option>
                    <mat-option value="U16">U-16</mat-option>
                    <mat-option value="U17">U-17</mat-option>
                    <mat-option value="U18">U-18</mat-option>
                </mat-select>
            </mat-form-field>
        </li>
        <li>
            <mat-form-field [formGroup]="adminForm" appearance="outline">
                <mat-label><strong>Date</strong></mat-label>
                <input matInput [matDatepicker]="picker" [max]="currentDate" formControlName="adminDate">
                <mat-error *ngIf = "error('adminDate', 'required')">Real date required (MM/DD/YYYY)</mat-error>
                <mat-error *ngIf = "error('adminDate', 'matDatepickerMax')">Choose a closer date</mat-error>
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
        </li>
        <li>
            <mat-form-field [formGroup]="adminForm" appearance="outline">
                <mat-label><strong>Name</strong></mat-label>
                <input matInput formControlName="chosenName">
                <mat-error *ngIf = "error('chosenName', 'pattern')">Invalid character entered</mat-error>
            </mat-form-field>
        </li>
    
    </ul>
    <mat-divider></mat-divider>

    <div class="btn-container">
            <button mat-raised-button (click)="onApplyChanges()" [disabled]="adminForm.invalid" color="primary">Apply</button>
            <button mat-raised-button (click)="onReset()" color="primary">Reset</button>
    </div>

    <mat-divider></mat-divider>
    

    <mat-table [dataSource]="selectedForms">
      
        <!-- Role Column -->
        <ng-container matColumnDef="role">
          <mat-header-cell *matHeaderCellDef class = "large-font-red"> Role </mat-header-cell>
          <mat-cell *matCellDef="let form" data-label="role"> {{form.role}} </mat-cell>
        </ng-container>
      
        <!-- Name Column -->
        <ng-container matColumnDef="name">
          <mat-header-cell *matHeaderCellDef class = "large-font-red"> Name </mat-header-cell>
          <mat-cell *matCellDef="let form" data-label="name"> {{form.name}} </mat-cell>
        </ng-container>
      
        <!-- Team/Age group Column -->
        <ng-container matColumnDef="age">
          <mat-header-cell *matHeaderCellDef class = "large-font-red"> Team </mat-header-cell>
          <mat-cell *matCellDef="let form" data-label="team"> {{form.age}} </mat-cell>
        </ng-container>
      
        <!-- Email Column -->
        <ng-container matColumnDef="email">
          <mat-header-cell *matHeaderCellDef class = "large-font-red"> Email </mat-header-cell>
          <mat-cell *matCellDef="let form" data-label="email"> {{form.email}} </mat-cell>
        </ng-container>
        
        <!-- Date Column -->
        <ng-container matColumnDef="date">
            <mat-header-cell *matHeaderCellDef class = "large-font-red"> Date </mat-header-cell>
            <mat-cell *matCellDef="let form" data-label="date"> {{form.date}} </mat-cell>
          </ng-container>

        <!-- Status Column -->
        <ng-container matColumnDef="flagStatus">
            <mat-header-cell *matHeaderCellDef class = "large-font-red"> Status </mat-header-cell>
            <mat-cell *matCellDef="let form" data-label="status"> {{form.flagStatus}} </mat-cell>
        </ng-container>
      
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
      </mat-table>

    </form>


</div>