/* @import '~@angular/material/prebuilt-themes/indigo-pink.css'; */

p {
	font-family: 'Verdana';
	font-size: 15px;
	padding-left: 6px;
}
p.blue {
	color: SlateBlue;
}

p.thick {
  font-weight: bold;
  font-size: 18px;
}

p.red {
	color:Tomato;
}

.block {
	display: block;
}

.inline {
	display: inline;
}

p.light-grey div.justify{
	color: rgb(153, 143, 143);
}

div.justify {
	text-align: justify;
	text-justify: inter-word;
}

span.red {
	color:Tomato;
}

span.blue {
	color: SlateBlue
}

div.border {
	border-style: ridge;
	padding: 5px;
	
}

mat-toolbar div.center {
    text-align: center;
}


h1 {
	font-size: 40px;
}

img {
	width: 100%;
}


div {
	width: 100%;
}

mat-card {
	display: flex;
	flex-direction: column;
}

mat-checkbox-label {
	display: flex;
}


.form-container {
	display: flex;
	flex-direction: column;
}

.form-container > * {
  width: 100%;
}

.width-adapt {
	margin-right: 700px;
}
